/*****************************************************
 * Date: 14 March 2012
 * Author: David Yardley
 * Email: david@linuxdaily.net
 * Website: http://linuxdaily.net
 *****************************************************/

/**
* 0 – Reset
* 1 – HTML Elements
* 2 – Typography
* 3 - Main Layout
* 4 – Header
* 5 – Main Content
* 6 – Navigation
* 7 - Block Styles
* 8 – Form Styles
* 9 – Misc
* 10 – Footer
* 11 - Module Customisation
**/

/* 0 - RESET */
/*****************************************************/

/* 1 - HTML ELEMENTS  */
/*****************************************************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:link,
a:visited {
  color: #1241FF;
}

h1,h2,h3,h4,h5,h6 {
  color: #242424;  
  font-weight: bold;
  text-rendering: optimizelegibility; /** Improves rendering on webkit browsers **/
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted #dedede;
  cursor: help;
}

address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal;
}

pre,code {}


/* 2 - TYPOGRAPHY */
/*****************************************************/

/* 3 - MAIN LAYOUT  */
/*****************************************************/

/* 4 - HEADER */
/*****************************************************/

/* 5 - MAIN CONTENT */
/*****************************************************/

/* 6 - NAVIGATION */
/*****************************************************/

/* 7 - BLOCK STYLES */
/*****************************************************/

/* 8 - FORM STYLES */
/*****************************************************/

/* 9 - MISC */
/*****************************************************/

/* 10 - FOOTER */
/*****************************************************/

/* 11 - MODULE CUSTOMISATION   */
/*****************************************************/